/*
 *  Default style sheet for resume documents.
 */

contact-information, objectives, qualification-summary, technical-expertise, employment-history, work-experience, educations, comment, copyright
              { display: block; }

contact-information, copyright
              { text-align: center; }
objectives, qualification-summary, technical-expertise, employment-history, work-experience, educations, comment
              { text-align: left; }


display-name
              { display: block; }
display-name
              { text-align: left;
              margin-left: 0.4in;
              margin-top: 0.15in;
              margin-bottom: 0.02in;
              font-weight: bold;
              font-size: 1.5em; }

objective, qualification, skill, job, task, record
              { display: block; }


              
name, address, phone, email, home-page
              { display: block; }
              
name, address
              { text-align: center; }


experience, education, comment
              { text-align: left; margin: 0.5in;}
name          { font-weight: bolder; font-size: 2em; }
address       { font-size: 1.5em; font-style: italic; }
comment       { font-family: monospace; }

