/*
 *  Default style sheet for letter documents.
 */

letter {
    display: block;
    width: 6.5in;
    background: white;
    text-align: center;
    color: black;
    font-family: 'Times New Roman',Georgia,Arial,Helvetica; 
    font-size: 1.0em;
    font-weight: normal; 
    margin: 0.1in;
    margin-top: 0.08in;
    margin-bottom: 0.12in;
    padding: 0.2in;
    padding-left: 0.3in;
    border-style: none;
    border-width: medium;
}
header {
    display: block;
    width: 100%;
    height: 0.75in;
    text-align: right;
    font-size: 11pt;
    margin-top: 0.25in;
    margin-bottom: 0.25in;    
}
body {
    display: block;
    width: 100%;
    height: 0.75in;
    text-align: center;
    font-size: 12pt;
    margin-top: 0.25in;
    margin-bottom: 0.5in;    
}
footer {
    display: block;
    width: 100%;
    /* height: 0.75in; */
    font-size: 11pt;
    margin-top: 0.1in;
    margin-bottom: 0.1in;    
}


br {
    display: block;
}

emph {
    color: red;
    font-weight: bold; 
}

bold {
    font-weight: bold; 
}



header return-address {
    text-align: right;
}


header letterhead {
        display: none;
        }
header return-address {
    display: block;
    width: 3.0in;
    font-size: 10pt;
    text-align: right;
    margin-top: 0.3in;
    margin-bottom: 0.05in;
}
header return-address sender {
    display: block;
    text-align: left;
}
header return-address address {
    display: block;
    text-align: left;
}


body target-address {
    display: block;
    text-align: left;
    margin-top: 0.1in;
    margin-bottom: 0.1in;    
        }
body target-address recipient {
        display: block;
        text-align: left;
        }
body target-address  address {
        display: block;
        text-align: left;
        }
body target-address  address street {
        display: block;
        text-align: left;
        }
body target-address  address city {
        display: block;
        text-align: left;
        }
body target-address  address state-zip {
        display: block;
        text-align: left;
        }


body date {
    display: block;
    text-align: left;
    margin-top: 0.05in;
    margin-bottom: 0.1in;    
}
body salutation {
    display: block;
    text-align: left;
    margin-top: 0.4in;
    margin-bottom: 0.15in;    
}
body content {
    display: block;
    text-align: left;
    margin-top: 0.2in;
    margin-bottom: 0.3in;    
}
body closing {
    display: block;
    text-align: left;
    margin-top: 0.2in;
    margin-bottom: 0.8in;    
}
body signature {
    display: block;
    width: 3.0in;
    text-align: right;
    margin-top: 0.2in;
    margin-bottom: 0.45in;    
}
body signature signer {
    display: block;
    text-align: left;
}
body cc-list {
    display: block;
    text-align: left;
    margin-top: 0.2in;
    margin-bottom: 0.1in;    
}
body cc-list display-name {
    width: 0.75in;
    font-size: 10pt;
    font-weight: bold; 
}
body encl-list {
    display: block;
    text-align: left;
    font-size: 11pt;
    margin-top: 0.05in;
    margin-bottom: 0.05in;    
}
body encl-list display-name {
    width: 0.75in;
    font-size: 10pt;
    font-weight: bold; 
}



footer copyright {
    display: none;
}


